<% provide :header, "FAQ" %>
<h2>How do I play?</h2>
<p>All you really have to do is answer some meaningless questions based on your instincts.</p>
<p>Don't think too hard for one question; they're timed.</p>
<h2>Why?</h2>
<p>Why not?</p>
<h2>This game is stupid.</h2>
<p>That's not a question. And it's actually fun.</p>
<h2>Is this thing on GitHub?</h2>
<p>It'll probably be eventually.</p>
