<% provide :header, "home" %>
<h3><%= render 'layouts/logo' %></h3>
<p style="font-size: 30px; text-align: center; margin-bottom: 100px"><%= link_to "Click here to play.", random_path %></p>
<h2>Do you have any questions?</h2>
<p>You should probably visit the incredibly helpful <%= link_to "FAQ", about_path %></p>
