// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question-content {
  height: 100vh;
  width: 100vw !important;
  margin: 0;
}

#footer {
  margin-top: 0 !important;
}

h2:first-of-type {
  margin-top: 0 !important;
  padding-left: 10px;
}

#choices-outer {
  height: calc(100vh - 103px);
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;

  p {
    width: 20vw;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
  }
}
