// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$theme-color: #ff352b;

.question-content {
  top: 0;
  height: 100vh;
  width: 100vw !important;
  margin: 0;
  margin-top: -83px;
}

#footer {
  z-index: 1000;
  transform: translateY(0);
  transition: transform 0.25s;

  &.footer-show {
    transform: translateY(-100px)
  }
}

h2.question {
  top: 0;
  margin-top: 0 !important;
  padding: 0;
  padding-left: 10px;
  position: absolute;
  width: 100vw;
  border-bottom: 0;
}

#timer {
  width: 0;
  position: absolute;
  top: 70px;
  height: 5px;
  background-color: $theme-color;

}

#bar-background {
  height: 100vh;
  width: 100vw;
  margin-bottom: 0;
  position: absolute;
  z-index: -10;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;

  .bar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 15vw;
    height: 0;
    opacity: 1;
    background-color: $theme-color;
    transition: height 0.25s;

    &.inactive {
      opacity: 0;
      height: 0 !important;
    }

    p {
      color: white;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
      font-weight: 900;
      font-size: 5vw;
    }
  }
}

#choices-outer {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  margin-top: 83px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  transform: translateY(0);
  transition: transform 0.25s;

  &.footer-show {
    transform: translateY(-100px)
  }

  a {
    width: 20vw;
    font-size: 5vw;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    transform: scale(1);
    transform-origin: center center;
    margin-bottom: 20px;
    pointer-events: auto;
    transition: transform 0.25s, color 0.25s, margin-bottom 0.25s;

    &:hover {
      color: $theme-color;
      transform: scale(1.2);
    }

    &.inactive {
      margin-bottom: 20px !important;
    }

    &.disabled {
      pointer-events: none;
      color: #aaa;
      transform: scale(0.7);
    }

    &.selected {
      transform: scale(1.2) !important;
      color: $theme-color !important;
    }
  }
}

#scroll-down {
  font-size: 50px;
  color: $theme-color;
  opacity: 0.5;
  position: fixed;
  left: 95vw;
  cursor: pointer;
  top: 0;
  pointer-events: auto;
  transform: rotate(0deg);
  transform-origin: center center;
  transition: opacity 0.25s, transform 0.25s;

  &:hover {
    opacity: 1;
  }

  &.disabled {
    pointer-events: none;
  }

  &.footer-show {
    transform: rotate(180deg);
  }
}

#all-questions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  li {
    width: 30vw;
    height: auto;
    text-decoration: none;
    display: inline-block;
    padding: 10px;

    h4 {
      opacity: 0.5;
      margin: 0;
      margin-bottom: -50px;
    }

    a {
      display: inline-block;
      padding: 5px 10px;
      margin: 10px;
      border: 1px solid $theme-color;
      color: $theme-color;
      background-color: transparent;

      &:hover {
        background-color: transparentize($theme-color, 0.9);
      }
    }

    p {
      display: inline-block;
      width: 40%;
      margin: 10px;
      font-size: 25px;
      text-align: center;

      .vote-amt {
        opacity: 0.5;
        font-size: 12px;
      }
    }

    * {
      text-decoration: none;
    }
  }
}

.form-outer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  form {
    font-size: 20px;
  }

  input {
    font-size: 30px;
    border: 1px solid transparentize($theme-color, 0.8);
    background-color: transparent;
    transition: border 0.25s, background-color 0.25s;

    &:focus {
      outline: 0;
      background-color: transparentize($theme-color, 0.9);
      border: 1px solid $theme-color;
    }
  }

  label {
    margin-top: 30px;
    border-bottom: 2.5px solid $theme-color;
    margin-bottom: 5px;
  }

  .fancy-button {
    font-size: 30px;
    margin-left: 0;
  }

  * {
    display: block;
  }
}

.fancy-button {
  cursor: pointer;
  padding: 5px 10px;
  margin: 10px;
  border: 1px solid $theme-color !important;
  color: $theme-color;
  background-color: transparent;

  &:hover {
    background-color: transparentize($theme-color, 0.9) !important;
  }
}

#errors-outer {
  display: block;
  width: 80%;
  padding: 10px;
  margin: 20px auto;
  background-color: transparentize($theme-color, 0.9) !important;

  h4 {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 10px;
  }
}
