// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$theme-color: #ff352b;

.question-content {
  top: 0;
  height: 100vh;
  width: 100vw !important;
  margin: 0;
  margin-top: -83px;
}

#footer {
  z-index: 1000;
  margin-top: 0;
}

h2.question {
  top: 0;
  margin-top: 0 !important;
  padding: 0;
  padding-left: 10px;
  position: absolute;
  width: 100vw;
  border-bottom: 0;
}

#timer {
  width: 0;
  position: absolute;
  top: 70px;
  height: 5px;
  background-color: $theme-color;

}

#bar-background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -10;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;

  .bar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 15vw;
    height: 0;
    opacity: 1;
    background-color: $theme-color;
    transition: height 0.25s;

    &.inactive {
      opacity: 0;
      height: 0 !important;
    }

    p {
      color: white;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
      font-weight: 900;
      font-size: 5vw;
    }
  }
}

#choices-outer {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  margin-top: 83px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;

  a {
    width: 20vw;
    font-size: 5vw;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    transform: scale(1);
    transform-origin: center center;
    margin-bottom: 20px;
    pointer-events: auto;
    transition: transform 0.25s, color 0.25s, margin-bottom 0.25s;

    &:hover {
      color: $theme-color;
      transform: scale(1.2);
    }

    &.inactive {
      margin-bottom: 20px !important;
    }

    &.disabled {
      pointer-events: none;
      color: #aaa;
      transform: scale(0.7);
    }

    &.selected {
      transform: scale(1.2) !important;
      color: $theme-color !important;
    }
  }
}
