// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$theme-color: #ff352b;

.header {
  height: 125px;
  width: 100vw;
  background-color: $theme-color;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 75px;
    margin: 25px;
    display: block;
    font-weight: 900;
    color: #fff;
  }

  .header-links {
    width: 200px;
    height: 125px;
    padding: 15px;

    a {
      display: block;
      text-align: right;
      color: #fff;
      font-weight: 500;
      font-size: 15px;
      padding: 0;
      padding-bottom: 1px;
      margin: 7px;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      transition: border 0.1s;

      &:hover {
        border-bottom: 2px solid #fff;
      }
    }
  }
}

#content-outer {
  width: 80%;
  min-height: calc(100vh - 325px);
  margin-left: auto;
  margin-right: auto;
  pointer-events: auto;
  transform: translateY(0px);
  opacity: 1;
  transition: transform 0.25s, opacity 0.25s;

  &.hidden {
    transform: translateY(30px);
    opacity: 0;
    pointer-events: none;
  }

  h3 {
    margin: 100px auto;
    text-align: center;
    font-size: 100px;
    width: auto;

    span {
      border-bottom: 5px solid $theme-color;
    }
  }

  a {
    font-weight: 500;
    color: #000;
    transition: color 0.25s;

    &:hover {
      color: $theme-color;
    }
  }
}

h2 {
  font-size: 50px;
  font-weight: 500;
  padding-bottom: 10px;
  display: block;
  border-bottom: 5px solid $theme-color;
  margin: 40px 0 20px 0;
}

p {
  line-height: 1.4;
  font-size: 20px;
}

.flash {
  position: relative;
  display: block;
  height: 40px;
  font-size: 30px;
  padding: 5px 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5vw;
}

.flash.success {
  border: 1px solid #21C635;
  color: #21C635;
  background-color: transparentize(#21C635, 0.8);
}

.flash.warning {
  border: 1px solid #FFE82B;
  color: #A39000;
  background-color: transparentize(#FFE82B, 0.8);
}

.flash.danger {
  border: 1px solid $theme-color;
  color: $theme-color;
  background-color: transparentize($theme-color, 0.8);
}
